Repository bubafistah/blockchain: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build, build:linux64, build:win64, build:freebsd64, build:macos-intel, build:riscv64, build:armv7, build:armv8, pages

build:
  stage: build
  tags:
  - next
  variables:
    NPROC: '8'
    IMG_TAG: next
  before_script:
  - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" $CI_REGISTRY
  after_script:
  - docker stop release-static
  - docker container rm release-static
  script:
  ...

build:linux64:
  stage: build
  tags:
  - next
  variables:
    NPROC: '8'
    IMG_TAG: linux-64
  before_script:
  - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" $CI_REGISTRY
  after_script:
  - docker stop release-$IMG_TAG
  - docker container rm release-$IMG_TAG
  script:
  ...

build:win64:
  stage: build
  tags:
  - next
  variables:
    NPROC: '8'
    IMG_TAG: win64
  before_script:
  - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" $CI_REGISTRY
  after_script:
  - docker stop release-$IMG_TAG
  - docker container rm release-$IMG_TAG
  script:
  ...

build:freebsd64:
  stage: build
  tags:
  - next
  variables:
    NPROC: '8'
    IMG_TAG: freebsd-64
  before_script:
  - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" $CI_REGISTRY
  after_script:
  - docker stop release-$IMG_TAG
  - docker container rm release-$IMG_TAG
  script:
  ...

build:macos-intel:
  stage: build
  tags:
  - next
  variables:
    NPROC: '8'
    IMG_TAG: macos-intel
  before_script:
  - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" $CI_REGISTRY
  after_script:
  - docker stop release-$IMG_TAG
  - docker container rm release-$IMG_TAG
  script:
  ...

build:riscv64:
  stage: build
  tags:
  - next
  variables:
    NPROC: '8'
    IMG_TAG: riscv64
  before_script:
  - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" $CI_REGISTRY
  after_script:
  - docker stop release-$IMG_TAG
  - docker container rm release-$IMG_TAG
  script:
  ...

build:armv7:
  stage: build
  tags:
  - next
  variables:
    NPROC: '8'
    IMG_TAG: armv7
  before_script:
  - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" $CI_REGISTRY
  after_script:
  - docker stop release-$IMG_TAG
  - docker container rm release-$IMG_TAG
  script:
  ...

build:armv8:
  stage: build
  tags:
  - next
  variables:
    NPROC: '8'
    IMG_TAG: armv8
  before_script:
  - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" $CI_REGISTRY
  after_script:
  - docker stop release-$IMG_TAG
  - docker container rm release-$IMG_TAG
  script:
  ...

pages:
  image: python:3.8-buster
  variables:
    PIP_CACHE_DIR: $CI_PROJECT_DIR/.cache/pip
  cache:
    paths:
    - .cache/pip
    - venv/
  before_script:
  - python -V
  - pip install virtualenv
  - virtualenv venv
  - source venv/bin/activate
  - pip install -r requirements.txt
  ...

Support linux-aarch64
  .build/lib/openssl/download.bash
Due: none

Extension is now .zip
  .build/lib/openssl/download.bash
Due: none

Update .gitlab-ci.yml
  .gitlab-ci.yml
Due: none

Update .gitlab-ci.yml file
  .gitlab-ci.yml
Due: none

adds docker compose and some documentation on starting the chain with one line commands via docker
  Dockerfile
  docker-compose.yml
  docs/en/index.md
Due: build, pages

removes next tags and proc settings from builds
  .gitlab-ci.yml
Due: none

adds docker and docker dind experimental service
  .gitlab-ci.yml
Due: none

build update
  .build/image/armv7.Dockerfile
  .build/image/armv8.Dockerfile
  .build/image/freebsd64.Dockerfile
  .build/image/linux.Dockerfile
  .build/image/macos-intel.Dockerfile
  .build/image/riscv64.Dockerfile
  .build/image/win64.Dockerfile
  .gitlab-ci.yml
Due: build:linux64, build:win64, build:freebsd64, build:macos-intel, build:riscv64, build:armv7, build:armv8

build update
  .build/image/linux32.Dockerfile
  .build/image/win64.Dockerfile
  .dockerignore
  .gitlab-ci.yml
  Dockerfile
  Makefile
  chain/README.md
Due: build, build:linux64, build:win64, build:freebsd64, build:macos-intel, build:riscv64, build:armv7, build:armv8

build update
  .gitlab-ci.yml
Due: none

build update
  Dockerfile
Due: build

reduce to 1 thread as default.
  Dockerfile
Due: build

image output location update
  .gitlab-ci.yml
Due: none

added developer comments to explain the dockerfile, why it does what it does and what its actually doing etc.
  Dockerfile
Due: build

adding the target options + package options in the comments rather than referring to a separate doc.
  Dockerfile
Due: build

adds docker build's as makefile targets, eg: make docker-i686-pc-linux-gnu
  Dockerfile
  Makefile
Due: build

updates makefile targets
  Makefile
Due: none

updates CI build to eject the files instead of making a docker image.
  .gitlab-ci.yml
Due: none

`make docker-*` now builds and outputs to the working directory in build/i686-pc-linux-gnu etc
  Dockerfile
  Makefile
Due: build

opps, CI dosnt like 20 threads :D
  Dockerfile
Due: build

modification to allow the git submodule update to fail in the docker build
  Dockerfile
Due: build

makes the dockerfile smarter, docker build -o build/aarch64-linux-gnu --build-arg BUILD=aarch64-linux-gnu
  .gitlab-ci.yml
  Dockerfile
  Makefile
Due: build

artifact path update, removes deprecated dockerfiles
  .build/image/armv7.Dockerfile
  .build/image/armv8.Dockerfile
  .build/image/freebsd64.Dockerfile
  .build/image/linux.Dockerfile
  .build/image/linux32.Dockerfile
  .build/image/riscv64.Dockerfile
  .build/image/win64.Dockerfile
  .dockerignore
  .gitlab-ci.yml
Due: build:linux64, build:win64, build:freebsd64, build:riscv64, build:armv7, build:armv8

Update with tested docker instructions
  docs/en/index.md
Due: pages

updated docker-compose to match earlier section
  docs/en/index.md
Due: pages

update docker-compose to match doco
  docker-compose.yml
Due: none

a proper build dockerfile
  .dockerignore
  .gitignore
  .gitlab-ci.yml
  .idea/misc.xml
  Dockerfile
Due: build

ci fix
  .gitlab-ci.yml
Due: none

ci fix
  Dockerfile
Due: build

ci update
  .gitlab-ci.yml
Due: none

ci update
  Dockerfile
Due: build

Path conditions:
  build: any of: Dockerfile, chain/**/*
  build:linux64: any of: .build/image/linux.Dockerfile, chain/**/*
  build:win64: any of: .build/image/win64.Dockerfile, chain/**/*
  build:freebsd64: any of: .build/image/freebsd64.Dockerfile, chain/**/*
  build:macos-intel: any of: .build/image/macos-intel.Dockerfile, chain/**/*
  build:riscv64: any of: .build/image/riscv64.Dockerfile, chain/**/*
  build:armv7: any of: .build/image/armv7.Dockerfile, chain/**/*
  build:armv8: any of: .build/image/armv8.Dockerfile, chain/**/*
  pages: any of: docs/**/*, requirements.txt, mkdocs.yml
